body {
    margin: 0px;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* align-content: space-around; */
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

#calculator {
    /* display: flex; */
    flex-grow: 0;
    /* max-width: 400px; */
    border: 1px solid darkblue;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 25px;

}

#display {
    border-radius: 12px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5px;

}

.header,
.footer {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    align-self: stretch;
    color: white;
    /* flex: 1; */
}

.header {
    background-color: #0F1035;
    margin-bottom: auto;
    margin-top: 0px;
    font-size: 36px;
}

.footer {
    background-color: #365486;
    margin-top: auto;
    margin-bottom: 0px;
}

button {
    height: 50px;
    width: 50px;
    margin: 0;
    margin-top: 5px;
    border-radius: 10px;
}

#display {
    border: 1px solid black;
    height: 50px;

}